@import url('https://fonts.googleapis.com/css2?family=Macondo&family=UnifrakturMaguntia&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #26547C;
    --secondary-color: #EF476F;
    --accent1-color: #FFD166;
    --accent2-color: #06D6A0;
    --heading-font: UnifrakturMaguntia, serif;
    --paragraph-font: Macondo, serif;
    --nav-background-color: #26547C;
    --nav-link-color: #EF476F;
    --nav-hover-link-color: #06D6A0;
    --nav-hover-background-color: #FFD166;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}