@import url('https://fonts.googleapis.com/css2?family=Macondo&family=UnifrakturMaguntia&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: UnifrakturMaguntia;
    font-size: 1.2rem;
    color: #333;
    background-color: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: greenyellow;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
}

label, input, button, select, textarea {
    font-family: Macondo;
    width: 100%;
}

label {
    text-align: left;
    padding-right: 0.5rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: auto;
    height: auto;
    margin-right: 0.5rem;
    vertical-align: bottom;
}

button {
    background-color: greenyellow;
    color: navy;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem auto;
    display: block;
    padding: .75rem 1.5rem;
    
}

button:hover {
    background-color: green;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    width: 300%;
}