* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    max-width: 100%;
    background-color: darkblue;
    margin: 15px auto 10px auto;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    /*text-align: center;*/
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

footer {
    max-width: 100%;
    margin-top: 10px;
    border-top: 1px solid #000;
    text-align: center;
    padding-top: 10px;
}

/* Class Selectors */

.box {
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}