nav {
    max-width: 100%;
    background-color: darkblue;
    margin: 15px auto 10px auto;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    display: inline;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    max-width: 100%;
    margin: 50px auto 10px auto;
    border-top: 1px solid #000;
    text-align: center;
    padding-top: 10px;
}